<div>
    <img src="~/img/VanGogh.jpg" alt="Alternate Text" />
    <h3>Mug</h3>
    <ul>
        <li>Price: 9.99$</li>
        <li>Artist: Van Gogh</li>
        <li>Title: Beautiful Van</li>
        <li>Description: Self-Portrait</li>
    </ul>
    <button>Buy</button>
</div>


